
@{
    ViewBag.Title = "ViewMethod";
}

<h2>ViewMethod</h2>

<h2>Returning a ViewResult Type</h2>
<hr />
<h1> Showing Data of Flowers from Information Controller in Demo</h1>

@foreach(var item in TempData["flowers"]as List<string>)
            {
                <p>@item</p>
            }

