@{ 
    Layout = null;
}

@model System.Web.Mvc.HandleErrorInfo
    
@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>
<h2> An Unknown Error occured. Please Try Later..</h2>
@*<ul>
    <li>Controller Where Error Occured : @Model.ControllerName</li>
    <li>Action Method Responsible for Error : @Model.ActionName</li>
    <li>Exception Details : @Model.Exception</li>
</ul>*@

