@model FirstMVCProject.Models.Employee
@{
    ViewBag.Title = "DisplayEmployee";
}

<h2>Display Employee</h2>

<ul type="square">
    <li>@Model.Id</li>
    <li>@Model.Name</li>
    <li>@Model.Age</li>
</ul>


