
@{
    ViewBag.Title = "UserStatus";
}

<h2>UserStatus</h2>

<h1>@ViewBag.status</h1>
<p>First Name is :@TempData["fname"] </br>
    LastName is :@TempData["lname"] </br>
    Age is : @TempData["age"] and Email is : @TempData["mail"]</p>