
@{
    ViewBag.Title = "ShowFilters";
}

<h2>ShowFilters</h2>

<h2>@ViewBag.ActionMessage1</h2>
<br/>
<h2>@ViewBag.ResultMessage1</h2>
<hr/>
<h2>@ViewBag.ActionMessage2</h2>
<br/>
<h2>@ViewBag.ResultMessage2</h2>